{% extends "layout.html" %}
{% block title %}HomePage | StudentReccomender{% endblock %}
{% block page %}HomePage{% endblock %}


{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/signup">Sign Up Now</a></li>
    <li><a href="/login">Login</a></li>
</ul>
{% endblock %}


{{ super() }}

{% block content %}
    
<h1>SKAD Student Reccomender</h1>
<h3>Reccomend with ease Use SKAD</h3>
<p>
    <a class="signup" href="/signup">Sign Up</button>
    
</p>
<p>
    <br />
    <a class="login" href="/login">Login</button>
   
</p>

<style>

.signup{
  margin: 10px;
  outline: none;
  height: 50px;
  width: 80px;
  background:#a829cf;
  color: #fff;
  font-size: 40px;
}
.signup {
  transition-duration: 0.4s;
}

.signup:hover {
  background-color: #ffffff; 
  color: #a829cf;
}
.login{
  margin: 10px;
  outline: none;
  height: 50px;
  width: 80px;
  background:#056592;
  color: #fff;
  font-size: 40px;
}
.login {
  transition-duration: 0.4s;
}

.login:hover {
  background-color: #ffffff; 
  color: #056592;
}
</style>

{% endblock %}
