{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/view/users">/users</a>.
        </p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>ID</th><th>email</th><th>userType</th><th>firstName</th><th>lastName</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.email}}</td>
              <td>{{user.userType}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
{% endblock %}